$color-primary: #13183f;
$color-primary-light: #666ca3;
$color-secondary: #f74780;
$color-secondary-light: #ffa7c3;
$color-primary-gray: #83869a;
$color-white: #fff;
$color-gradient-primary-top: #ff6f48;
$color-gradient--bottom: #f02aa6;
$color-gradient-secondary-top: #4851ff;
